{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Forest Allocation{% endtrans %}
{% endblock %}


{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/attribution.png') }}" alt="attribution">  {% trans %}Forest Allocation{% endtrans %} - {% trans %}[ADD]{% endtrans %}
    </h2>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    {% set options = option_service.findAll %}
    <link href="{{ asset('assets/dselect-main/dist/css/dselect.css') }}" rel="stylesheet" />
    <section class="section">
        <div class="p-2 w-100 banniere"></div>
        <div class="card">
            <div class="card-body">
                <h3 class="w-100 alert-success">Enregistrez une nouvelle attribution</h3>
                <div class="input-group mb-2" style="border: 1px solid lightgrey">
                    <span class="input-group-text h4 alert-light" style="min-width: 200px;">N° Décision</span>
                    <input type="text" class="form-control h4 border-0" style="font-size: large;text-transform: uppercase;width: fit-content" id="num_decision"  aria-label="N° de la décision" aria-describedby="N° de la décision">
                </div>
                <div class="input-group mb-2" style="border: 1px solid lightgrey">
                    <span class="input-group-text h4 alert-light" style="min-width: 200px;">Date Décision</span>
                    <input type="date" class="form-control h4 border-0" style="font-size: large;text-transform: uppercase;width: fit-content" id="date_decision"  aria-label="Date de la décision" aria-describedby="Date de la décision">
                </div>
                <div class="input-group mb-2" style="border: 1px solid lightgrey">
                    <span class="input-group-text h4 alert-light" style="min-width: 200px;">Forêt</span>
                    <select type="text" class="form-control h4 border-0 select_titre" required style="font-size: large" id="foret"  aria-label="Titre utilisateur" aria-describedby="Titre utilisateur">
                        <option value="0">Sélectionnez la forêt</option>
                        {% for foret in forets %}
                            {% if (foret.codeTypeForet.id == 1) %}
                                <option value="{{ foret.id }}">{{ foret.denomination }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-2" style="border: 1px solid lightgrey">
                    <span class="input-group-text h4 alert-light" style="min-width: 200px;">Exploitant</span>
                    <select type="text" class="form-control h4 border-0 select_titre" required style="font-size: large" id="exploitant"  aria-label="Titre utilisateur" aria-describedby="Titre utilisateur">
                        <option value="0">Sélectionnez l'exploitant</option>
                        {% for exploitant in exploitants %}
                            {% if (exploitant.sigle) %}
                                <option value="{{ exploitant.id }}">{{ exploitant.sigle }}</option>
                            {% else %}
                                <option value="{{ exploitant.id }}">{{ exploitant.raisonSocialeExploitant }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <br>
                <a href="{{ path('app_attribution') }}" class="btn btn-danger p-2"><i class="bi bi-back me-2"></i>Retourner à la liste</a>
                <a href="#" class="btn btn-primary p-2" id="btn_add_att"><i class="bi bi-back me-2"></i>Ajouter</a>
            </div>
        </div>


        <!--Modification de l'attribution -->

    </section>


    {#<script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>#}
    <script src="{{ asset('assets/dselect-main/dist/js/dselect.min.js') }}"></script>
    <script src="{{ asset('assets/assets/js/jquery.min-3.5.1.js') }}"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ asset('assets/select2/select2.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ asset('assets/Js/utilitaires.js') }}"></script>
    <script>
        restaure()
        $('#btn_add_att').on('click', function(){
            let date_decision = new Date($("#date_decision").val()).toISOString().split("T")[0]; // Format YYYY-MM-DD
            if ( $("#num_decision").val() === "" ||
                 $("#date_decision").val() === "" ||
                 $("#foret").val() === "0" ||
                 $("#exploitant").val() === "0"
                ) {
                render_toast_value("Merci de renseigner correctement toutes les informationbs requises", 2)
            } else {
                if (getNbJoursAtt(new Date(date_decision), new Date()) < 0) {
                    render_toast_value("La date de signature ne peut postérieure à la date du jour ", 2)
                } else {
                    ajout_att();
                }

            }
        })
        // Functions
        function ajout_att(){
            var obj = {};
            let decision = $("#num_decision").val()
            obj.foret =  $("#foret").val();
            obj.exploitant =  $("#exploitant").val();
            obj.numero_decision =  decision.replaceAll('/', '-');
            obj.date_decision =  $("#date_decision").val();

            var data = JSON.stringify(obj);

            $.ajax({
                'url': '{{ path('app_portail') }}snvlt/att/addnew/' + data,
                'type': 'POST',
                success: function(response) {

                    restaure()
                    render_toast_value('Attribution enregistrée avec succès', 1)
                }
            })
        }

        function restaure(){
            $("#foret").val("0");
            $("#exploitant").val("0");
            $("#num_decision").val("");
            $("#date_decision").val("");
            //reinitialise_foret();
            $("#num_decision").focus();
        }

        function reinitialise_foret(){
            let contenu_select = '';
            $('#foret').removeData();

            contenu_select = '<option value="0">Sélectionnez la forêt</option>';
            {% for foret in forets %}
                {% if (foret.codeTypeForet.id == 1) %}
                    contenu_select = contenu_select + '<option value="{{ foret.id }}">{{ foret.denomination }}</option>';
                {% endif %}
            {% endfor %}
            document.querySelector('#foret').innerHTML = contenu_select;
        }

        function getNbJoursAtt(date1, date2){
            const differenceInMilliseconds = date2.getTime() - date1.getTime(); // Conversion en millisecondes
            const differenceInDays = differenceInMilliseconds /  (1000 * 60 * 60 * 24); // Conversion en jours
            return differenceInDays;
        }


    </script>
{% endblock %}

