{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - {% trans %}Attributions{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/attribution.png') }}" alt="attribution">  {% trans %}Attributions{% endtrans %}
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
           <a class="btn btn-inverse-danger p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('attribution.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>Ajouter</a>
        </div>
    </div>
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}
{% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="{{ asset('assets/assets/css/modal.css') }}" />
    <section class="section">
        <div class="card">
            <div class="card-body">
                <table class="table table-responsive-sm w-100 p-2 bg-white" id="attributions">
                    <thead>
                    <tr style="background: #46a46a; color: #f0fcf0;">
                        <th style="font-size: 20px;">{% trans %}N° Décision{% endtrans %}</th>
                        <th style="font-size: 20px;">{% trans %}Forêt{% endtrans %}</th>
                        <th style="font-size: 20px;">{% trans %}Attributaire{% endtrans %}</th>
                        <th style="font-size: 20px;" class="text-center">{% trans %}Statut{% endtrans %}</th>
                        <th style="font-size: 20px;">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attribution in attributions %}
                        {% if(attribution.statut) %}
                        <tr class="h3" style="font-size: 20px;">
                        {% else %}
                        <tr class="h3 bg-danger text-white" style="font-size: 20px;">
                        {% endif %}
                            {% if(attribution.statut) %}
                                <td class="text-dark fw-bold"><a class=" editBtn text-dark editAttribution" style="font-size: 20px; font-weight: bold;" href="#" data-bs-toggle="modal" data-bs-target="#modif_attribution" id="{{ attribution.id }}">{{ attribution.numeroDecision }} du {{ attribution.dateDecision | date('d/m/Y') }}</a></td>
                                <td class="text-dark fw-bold"><a href="#" class="badge p-1 text-white" style="background: #0a430c;font-size: 20px;">{{ attribution.codeForet.denomination }}</a></td>
                                <td class="text-dark fw-bold" style="font-size: 20px;">
                            {% else %}
                                <td class="text-white fw-bold"><a class=" editBtn text-white" style="font-size: 20px; font-weight: bold;" href="#" id="{{ attribution.id }}">{{ attribution.numeroDecision }} du {{ attribution.dateDecision | date('d/m/Y') }}</a></td>
                                <td class="text-dark fw-bold"><a href="#" class="badge p-1 text-white" style="background: #0a430c;font-size: 20px;">{{ attribution.codeForet.denomination }}</a></td>
                                <td class="text-white fw-bold" style="font-size: 20px;">
                            {% endif %}
                            {{ attribution.codeExploitant.raisonSocialeExploitant }}
                        </a></td>
                            <td class="text-dark fw-bold text-center">

                                {% if(attribution.statut) %}
                                    <span class="badge p-2 bg-secondary text-white" style="font-weight: bold;font-size: 20px;">ATTRIBUE</span>
                                {% else %}
                                    {% if(attribution.abandonne) %}
                                        <span class="badge p-2 bg-danger text-white" style="font-weight: bold;font-size: 20px;">ABANDONNE</span>
                                    {% else %}
                                        <span class="badge p-2 alert-danger text-dark" style="font-weight: bold;font-size: 20px;">RETIRE</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-dark text-center fw-bold">
                                {% if(attribution.statut) %}

                                    <a class="btn btn-sm text-white btn_att" id="{{ attribution.id }}" style="background: red;font-size: 20px;" data-bs-toggle="modal" data-bs-target="#confirm_retrait">Retirer / Abandonner</a>
                                {% else %}
                                    <a class="btn btn-sm text-danger bg-white btn_restore" id="{{ attribution.id }}" style="border: #0a430c solid 4px;border-radius: 10px;font-size: 20px;" data-bs-toggle="modal" data-bs-target="#confirm_restore">Restaurer</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    {#    Retirer ou abandonner une attribution#}
    <div class="modal fade" id="confirm_retrait" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <form class="modal-content">
                <div class="modal-header  alert-secondary">
                    <h5 class="modal-title text-dark titre" id="backDropModalTitle">Retirer / Abandonner PEF</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">

                    <select class="form-control mb-2 alert-warning font-weight-bold text-danger" name="select_retrait" id="select_retrait">
                        <option value="1">RETIRER</option>
                        <option value="2">ABANDONNER</option>
                    </select>
                    <label for="motif">Motif</label><textarea class="form-control" name="motif" value="" id="motif" placeholder="Renseigner le motif">
                    </textarea>

                </div>
                <div class="modal-footer alert-secondary">
                    <button type="button" class="btn btn-success mt-3" style="font-size: 20px;" id="retour">Annuler</button>
                    <button type="button" class="btn btn-danger mt-3" style="font-size: 20px;" id="btn_retirer" >Effectuer l'opération</button>
                </div>
            </form>
        </div>
    </div>

    {#    Restaurer l'attribution#}
    <div class="modal fade" id="confirm_restore" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <form class="modal-content">
                <div class="modal-header  alert-secondary">
                    <h5 class="modal-title text-dark titre" id="backDropModalTitle">Restaurer l'attribution</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="justify-content-start d-inline-flex">
                        <div class="m-2">
                            <img src="{{ asset('assets/images/webapp/attention.png') }}" alt="attention">
                        </div>
                        <div class="m-2">
                            <label for="motif" class="text-dark font-weight-bold">Voulez-vous restaurer cette attribution ?</label>
                            <h4  class="text-danger mt-2">L'opérateur pourra rétablir sa reprise</h4>
                        </div>
                    </div>



                </div>
                <div class="modal-footer alert-secondary">
                    <button type="button" class="btn btn-success mt-3 h3" style="font-size: 20px;" id="retour" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger mt-3 h3" style="font-size: 20px;" id="btn_restaurer" >Restaurer</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="modif_attribution"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-white">
                <div class="modal-header alert-success">
                    <h3 class="modal-title" id="backDropModalTitle">Modifier une atribution</h3>

                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body text-center" style="border: 3px solid #004803">
                    <h3 class="text-danger loading">Chargement...</h3>
                    <div class="input-group mb-2" style="border: 1px solid lightgrey">
                        <span class="input-group-text h4 alert-light" style="min-width: 200px;">N° Décision</span>
                        <input type="text" class="form-control h4 border-0" style="font-size: large;text-transform: uppercase;width: fit-content" id="num_decision"  aria-label="N° de la décision" aria-describedby="N° de la décision">
                    </div>
                    <div class="input-group mb-2" style="border: 1px solid lightgrey">
                        <span class="input-group-text h4 alert-light" style="min-width: 200px;">Date Décision</span>
                        <input type="date" class="form-control h4 border-0" style="font-size: large;text-transform: uppercase;width: fit-content" id="date_decision"  aria-label="Date de la décision" aria-describedby="Date de la décision">
                    </div>
                    <div class="input-group mb-2" style="border: 1px solid lightgrey">
                        <span class="input-group-text h4 alert-light" style="min-width: 200px;">Forêt</span>
                        <select type="text" class="form-control h4 border-0 select_titre" required style="font-size: large" id="foret"  aria-label="Titre utilisateur" aria-describedby="Titre utilisateur">
                            <option value="0">Sélectionnez la forêt</option>
                            {% for foret in forets %}
                                {% if (foret.codeTypeForet.id == 1) %}
                                    <option value="{{ foret.id }}">{{ foret.denomination }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-2" style="border: 1px solid lightgrey">
                        <span class="input-group-text h4 alert-light" style="min-width: 200px;">Exploitant</span>
                        <select type="text" class="form-control h4 border-0 select_titre" required style="font-size: large" id="exploitant"  aria-label="Titre utilisateur" aria-describedby="Titre utilisateur">
                            <option value="0">Sélectionnez l'exploitant</option>
                            {% for exploitant in exploitants %}
                                {% if (exploitant.sigle) %}
                                    <option value="{{ exploitant.id }}">{{ exploitant.sigle }}</option>
                                {% else %}
                                    <option value="{{ exploitant.id }}">{{ exploitant.raisonSocialeExploitant }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <a href="{{ path('app_attribution') }}" class="btn btn-danger p-2"><i class="bi bi-back me-2"></i>Retourner à la liste</a>
                    <a href="#" class="btn btn-primary p-2" id="btn_add_att"><i class="bi bi-back me-2"></i>Ajouter</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/node_modules/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script>
        let url = "";
        let id_attribution = 0;
        {% if(app.locale == 'fr') %}
            url = '//cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json';
        {% elseif(app.locale == 'en') %}
            url = '//cdn.datatables.net/plug-ins/1.13.7/i18n/en-US.json';
        {% elseif(app.locale == 'en') %}
            url = '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json';
        {% endif %}
        var table = new DataTable('#attributions', {
            language: {
                url: url,
            },
            theme:'bootstrap'
        });

        $('.btn_att').on('click', function (){
            id_attribution = this.id;
            $('#motif').val("");
        })
        $('.btn_restore').on('click', function (){
            id_attribution = this.id;
        })

        $('body').on('click','#btn_retirer', function (){
            let motif = $('#motif').val();
            let select_retrait = $('#select_retrait').val();
            if (motif === ""){
                alert("RENSEIGNEZ SVP LE MOTIF")
            } else {
                $.ajax({
                    url: '{{ path('app_portail') }}snvlt/att/remove/' +id_attribution + '/' + select_retrait + '/' + motif,
                    type: 'POST',
                    success: function(response) {
                        let reponse = JSON.parse(response);
                        if (reponse[0].CODE === "SUCCESS"){
                            alert("OPERATION EFFECTUEE AVEC SUCCES")
                            document.location.reload()
                        }else {
                            alert("ERREUR LORS DE L'OPERATION")
                        }
                    }
                })
            }
        })

        $('body').on('click','#btn_restaurer', function (){

                $.ajax({
                    url: '{{ path('app_portail') }}snvlt/att/restaure/' +id_attribution,
                    type: 'POST',
                    success: function(response) {
                        let reponse = JSON.parse(response);
                        if (reponse[0].CODE === "SUCCESS"){
                            alert("RESTAURATION EFFECTUEE AVEC SUCCES")
                            document.location.reload()
                        }else {
                            alert("ERREUR LORS DE LA TENTATIVE DE RESTAURATION")
                        }
                    }
                })
        })

        $('.editAttribution').on('click', function (){
            select_att(this.id);
            id_attribution = this.id;
        })
        function select_att(id_attr){
            $('.loading').text("Chargement...");
            $.ajax({
                'url': '{{ path('app_portail') }}snvlt/contrat/attr/search/' + id_attr,
                'type': 'POST',
                success: function(response) {
                    let reponse = JSON.parse(response);
                    if (reponse.length > 0){
                        $(".modal-title").text("Modifier l'attribution [" + reponse[0].numero_decision + " du " + reponse[0].date_decision + "]")
                        $('#num_decision').val(reponse[0].numero_decision);
                        $('#date_decision').val(reponse[0].date_decision);
                        $('#foret').val(reponse[0].foret);
                        $('#exploitant').val(reponse[0].exploitant);
                        $('.loading').text("");
                    } else {
                        render_toast_value("Erreur serveur", 0);
                        $('.loading').text("");
                    }
                }
            })

        }

        $('#btn_add_att').on('click', function(){
            let date_decision = new Date($("#date_decision").val()).toISOString().split("T")[0]; // Format YYYY-MM-DD
            if ( $("#num_decision").val() === "" ||
                $("#date_decision").val() === "" ||
                $("#foret").val() === "0" ||
                $("#exploitant").val() === "0"
            ) {
                render_toast_value("Merci de renseigner correctement toutes les informations requises", 2)
            } else {
                if (getNbJoursAtt(new Date(date_decision), new Date()) < 0) {
                    render_toast_value("La date de signature ne peut postérieure à la date du jour ", 2)
                } else {
                    ajout_att();
                }

            }
        })

        function ajout_att(){
            var obj = {};
            let decision = $("#num_decision").val()
            obj.foret =  $("#foret").val();
            obj.exploitant =  $("#exploitant").val();
            obj.numero_decision =  decision.replaceAll('/', '-');
            obj.date_decision =  $("#date_decision").val();

            var data = JSON.stringify(obj);

            $.ajax({
                'url': '{{ path('app_portail') }}snvlt/att/edit/' + id_attribution + "/" + data,
                'type': 'POST',
                success: function(response) {

                    restaure()
                    render_toast_value('Attribution enregistrée avec succès', 1)
                }
            })
        }

        function restaure(){
            $("#foret").val("0");
            $("#exploitant").val("0");
            $("#num_decision").val("");
            $("#date_decision").val("");
            $("#num_decision").focus();
        }

        function getNbJoursAtt(date1, date2){
            const differenceInMilliseconds = date2.getTime() - date1.getTime(); // Conversion en millisecondes
            const differenceInDays = differenceInMilliseconds /  (1000 * 60 * 60 * 24); // Conversion en jours
            return differenceInDays;
        }
    </script>

{% endblock %}

